*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

.index, html {
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
}

._container {
  max-width: 1282px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 834px) {
  ._container {
    max-width: 774px;
  }
}

@media (max-width: 576px) {
  ._container {
    max-width: 100%;
  }
}

._text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
}

._title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: calc(50px / 50px * 100%);
  color: #131316;
}

._title span {
  color: #4AE290;
}

._title--main {
  font-size: 60px;
  line-height: 62px;
  line-height: calc(62px / 60px * 100%);
  color: #FFFFFF;
}

.main {
  overflow: hidden;
}

._btn {
  width: 115px;
  height: 42px;
  background: #4AE290;
  border: 2px solid #4AE290;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

._btn--white {
  background-color: white;
  color: black;
  border: none;
}

.header {
  width: 100%;
}

.header__container {
  min-height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 327px;
          flex: 0 1 327px;
}

.header__mobile {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:first-child) {
  margin-left: 32px;
}

.header__menu-link {
  display: inline-block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18px/ 16px * 100%);
  color: rgba(255, 255, 255, 0.9);
  padding: 2px 12px;
}

.header__menu-link:hover {
  background: white;
  color: black;
}

.header__subscribe {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 187px;
          flex: 0 1 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__signIn {
  width: 61px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* Neutral[100] */
  color: #FFFFFF;
}

.header__close-menu {
  display: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1097px) {
  .header__mobile {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .header__subscribe {
    margin-left: 30px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .header__signIn {
    margin-right: 20px;
  }
  .header__menu-item:not(:first-child) {
    margin-left: 22px;
  }
}

@media (max-width: 992px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__mobile {
    display: none;
  }
  .header__logo {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .header__burger {
    display: block;
  }
}

.best {
  width: 100%;
  background: #000;
  min-height: 790px;
  background: url("../img/Hero.png") no-repeat;
  background-position: 635px 0px;
  position: relative;
}

.best::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.best__content {
  max-width: 527px;
  margin-top: 170px;
  margin-left: 150px;
}

.best__content > * {
  margin-bottom: 32px;
}

.best__title {
  margin-bottom: 10px;
}

.best__text {
  max-width: 415px;
  font-size: 24px;
  line-height: calc(34px/ 24px * 100%);
  color: #DEDEE3;
}

@media (max-width: 1070px) {
  .best {
    background-position: 435px 0px;
  }
}

@media (max-width: 866px) {
  .best {
    background-position: unset;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .best__content {
    max-width: 527px;
    margin-top: 170px;
    margin-left: 0px;
  }
  .best__content > * {
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .best {
    background-position: center;
  }
  .best__content {
    max-width: 340px;
    margin-top: 170px;
    margin-left: 0px;
  }
  .best__content > * {
    margin-bottom: 32px;
  }
  .best__title {
    font-size: 40px;
    line-height: 40px;
  }
  .best__text {
    font-size: 20px;
  }
}

.mission {
  width: 100%;
}

.mission__container {
  padding-top: 140px;
  min-height: 500px;
}

.mission__content {
  max-width: 768px;
  margin: auto;
}

.mission__content > * {
  margin-bottom: 32px;
}

.mission__text {
  font-size: 20px;
  line-height: calc(32px/ 20px *100%);
  color: #595962;
}

.mission__text:first-child {
  margin-bottom: 50px;
}

.mission__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission__link span {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #131316;
}

.mission__link img {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .mission__container {
    padding-top: 80px;
    min-height: 500px;
  }
}

@media (max-width: 576px) {
  .mission__container {
    padding-top: 50px;
  }
  .mission .mission__title {
    font-size: 32px;
  }
  .mission .mission__img-header {
    width: 100px;
    height: 80px;
  }
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section__img {
  width: 150px;
  height: 120px;
}

.header-section__title {
  position: relative;
  margin-left: -50px;
}

.program {
  width: 100%;
  margin-bottom: 58px;
}

.program__container {
  padding-top: 111px;
}

.program__header {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.program__header img {
  width: 106px;
  height: 86px;
}

.program__slider {
  margin-bottom: 100px;
}

.program__slider-item {
  width: 320px;
  height: 340px;
}

.program__slider-item img {
  max-width: 100%;
  height: 100%;
}

.program .slick-slide {
  margin: 0 10px;
}

.program .slick-prev:before, .program .slick-next:before {
  color: black;
}

.program .slick-next {
  right: 100px;
  bottom: -50px;
  top: unset;
}

.program .slick-prev {
  right: 130px;
  left: unset;
  bottom: -51px;
  top: unset;
}

@media (max-width: 768px) {
  .program__container {
    padding-top: 40px;
  }
  .program__header {
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .program {
    margin-bottom: 28px;
  }
  .program__container {
    padding-top: 20px;
  }
  .program__header {
    margin-bottom: 40px;
  }
  .program .program__title {
    font-size: 28px;
  }
  .program .program__img-header {
    width: 80px;
    height: 80px;
  }
  .program__slider {
    margin-bottom: 100px;
  }
  .program__slider-item {
    width: 100%;
    height: 340px;
  }
  .program__slider-item img {
    max-width: 100%;
    height: 100%;
  }
  .program .slick-slide {
    margin: 0px;
  }
}

.pricing {
  width: 100%;
}

.pricing__header {
  max-width: 540px;
  margin: auto;
  margin-bottom: 80px;
}

.pricing__header img {
  width: 121px;
  height: 120px;
}

.pricing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.pricing__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 405px;
          flex: 0 1 405px;
  min-height: 513px;
  background: rgba(19, 19, 22, 0.05);
  border-radius: 2px;
}

.pricing__item--black {
  background: black;
  position: relative;
  margin-top: -30px;
}

.pricing__item-content {
  padding-top: 72px;
  max-width: 225px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.pricing__item-title {
  width: 65px;
  margin: auto;
  background: #131316;
  border-radius: 1px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.pricing__item-title--white {
  background: white;
  color: black;
}

.pricing__item-pricing {
  width: 88px;
  margin: auto;
  margin-bottom: 32px;
}

.pricing__item-dollars {
  font-size: 20px;
  display: inline-block;
  margin-left: -10px;
}

.pricing__item-number {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.1px;
  color: #131316;
  padding: 0;
}

.pricing__item-number--white {
  color: white;
}

.pricing__item-month {
  display: block;
  text-align: center;
}

.pricing__item-month--white {
  color: white;
}

.pricing__item-list {
  margin-bottom: 32px;
}

.pricing__item-itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__item-itemListText {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #131316;
}

.pricing__item-itemListText--white {
  color: white;
}

.pricing__item-imgItemList {
  margin-right: 10px;
}

.pricing__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 159px;
  height: 46px;
  border: 1px solid #131316;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #131316;
  cursor: pointer;
}

.pricing__item-button--white {
  color: black;
  background: white;
}

@media (max-width: 576px) {
  .pricing__header {
    margin-bottom: 40px;
  }
  .pricing .pricing__title {
    font-size: 32px;
  }
  .pricing .pricing__img-header {
    width: 122.25px;
    height: 120px;
  }
}

@media (max-width: 835px) {
  .pricing__row {
    display: block;
  }
  .pricing__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .pricing__item--black {
    margin-top: unset;
  }
}
/*# sourceMappingURL=main.css.map */